<manifest package="com.pandora.qqmusic"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application>

        <service android:name=".service.DeamonService">
            <intent-filter>
                <action android:name="com.pandora.qqmusic.ACTION_DEAMON" />
            </intent-filter>
        </service>

    </application>

</manifest>